* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.result {
  display: flex;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.body-wrap {
  min-width: 95%;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.199);
  padding: 2%;
  margin: auto;
}

#forma {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

#forma input {
  height: 30px;
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: rgba(49, 49, 49, 0.692);
  color: rgb(255, 255, 255);
  padding: 2px;
  padding-left: 10px;
}

#forma input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.3;
}

#submit {
  width: 20%;
  height: 10%;
  align-self: center;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: white;
}
